/* Control carousel image size */
.carousel-item img {
  height: 700px; /* Set a fixed height for all images */
  object-fit: contain; /* This crops the image while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
}

.carousel-indicators{
  opacity: 0;
}
.blog-page{
  background-color: bisque;
}

